/** Mobile **/

@media screen and (max-width: 600px) {
    .left-bg-login {
        display: none;
    }
    .form-section {
        width: 100%;
        margin-top: 3rem;
    }
    .form-section-2 {
        width: 100%;
    }
    .what-we-do__header-form {
        padding: 0 20px;
        height: 120vh;
    }
    .google-sign-in {
        font-size: 4.5vw;
    }

}

