@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0 7rem;
}
.brand-name {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 500;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 18px;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu ul {
    /* previous styles */
    display: none;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}

/* site info */
.site-info,
.what-we-do__header {
  font-family: "Space Grotesk", sans-serif;
}
.card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.math {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/math.png");
  background-position: center;
  background-size: cover;
}

.general-studies {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/general.png");
  background-position: center;
  background-size: cover;
}
.programming {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/programming.png");
  background-position: center;
  background-size: cover;
}

.biology {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/biology.png");
  background-position: center;
  background-size: cover;
}
.engin {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/engin.png");
  background-position: center;
  background-size: cover;
}
.animal {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/animal.png");
  background-position: center;
  background-size: cover;
}
.nature {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/nature.png");
  background-position: center;
  background-size: cover;
}
.science {
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.209),
      rgba(0, 0, 0, 0.4)
    ),
    /* bottom, image */ url("/public/images/science.png");
  background-position: center;
  background-size: cover;
}

.left-bg {
  background: url("/public/images/signup-bg.png");
  background-position: top;
  background-size: cover;
}

.left-bg-login {
  background: url("/public/images/signin-bg.png");
  background-position: top;
  background-size: cover;
}


input {
  border: 1px solid rgba(178, 178, 178, 0.38);
}

.see-password {
  font-size: 22px;
}
.google {
  color: #EF8733;
  font-size: 22px;
  margin-right: 1.5rem;
}
input:focus {
  outline: none;
}


/* custom cursor  */
.main-cursor, .secondary-cursor {
  z-index: 10000;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
.main-cursor {
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
  mix-blend-mode: difference;
}
.main-cursor .main-cursor-background {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
}
.secondary-cursor {
  width: 60px;
  height: 60px;
}
.secondary-cursor .cursor-background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
}
.secondary-cursor .cursor-background:after, .secondary-cursor .cursor-background:before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.secondary-cursor .cursor-background:before {
  left: 10px;
}
.secondary-cursor .cursor-background:after {
  right: 10px;
}
.slider-drag .cursor-background {
  animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, bgUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .cursor-background:after {
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateRightDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .cursor-background:before {
  animation: fadeIn 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards, translateLeftDot 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.slider-drag .main-cursor {
  animation: fadeOut 0.75s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.hamburger .cursor-background {
  animation: fadeOut 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
.hamburger .main-cursor-background {
  animation: scaleUp 1s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bgUp {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}
@keyframes bgDown {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes scaleDown {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes translateLeftDot {
  from {
    transform: translate(20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
@keyframes translateRightDot {
  from {
    transform: translate(-20px, -50%);
  }
  to {
    transform: translate(0px, -50%);
  }
}
