@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow: clip;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* site info */
.site-info,
.what-we-do__header {
  font-family: "Space Grotesk", sans-serif;
}
.card {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.math {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/math.png");
  background-position: center;
  background-size: cover;
}

.general-studies {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/general.png");
  background-position: center;
  background-size: cover;
}
.programming {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/programming.png");
  background-position: center;
  background-size: cover;
}

.biology {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/biology.png");
  background-position: center;
  background-size: cover;
}
.engin {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    /* bottom, image */ url("/public/images/engin.png");
  background-position: center;
  background-size: cover;
}
.animal {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    /* bottom, image */ url("/public/images/animal.png");
  background-position: center;
  background-size: cover;
}
.nature {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/nature.png");
  background-position: center;
  background-size: cover;
}
.science {
  background: linear-gradient(rgba(0, 0, 0, 0.209), rgba(0, 0, 0, 0.4)),
    url("/public/images/science.png");
  background-position: center;
  background-size: cover;
}

.left-bg {
  background: url("/public/images/signup-bg.png");
  background-position: top;
  background-size: cover;
}

.left-bg-login {
  background: url("/public/images/signin-bg.png");
  background-position: top;
  background-size: cover;
}

input {
  border: 1px solid rgba(178, 178, 178, 0.38);
}

input[type="password"] {
  border: 1px solid rgba(178, 178, 178, 0.38);
  border-right: none;
}

.see-password {
  font-size: 22px;
}
.google {
  color: #ef8733;
  font-size: 22px;
  margin-right: 1.5rem;
}
input:focus {
  outline: none;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 4rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9ba8641 inset !important;
}
*/

.search-box {
  width: 350px;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.search-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border: none;
  transition: all 0.4s;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 5px #d2d2d2;
  -moz-box-shadow: 0 1px 12px #d0d0d0;
  -webkit-box-shadow: 0 1px 12px #c7c7c7;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: #6c6c6c;
  transition: all 0.4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}
.small-screen__searchBar {
  display: none;
}

.navigation-dashboard {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 1rem 3rem;
}

.left-nav {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard-icon {
  font-size: 30px;
}

.submit-question-form select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid rgba(178, 178, 178, 0.38);
  border-radius: 6px;
  margin-top: 0.5rem;
}
.submit-question-form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(178, 178, 178, 0.38);
  border-radius: 6px;
  font-size: 16px;
  resize: none;
  margin-top: 0.5rem;
}

.admin-dashboard__Content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}
.mobile-hamburger {
  display: none;
}

/** mobile Responsiveness for all pages **/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .call-to-action-container {
    padding: 0 20px;
    height: auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .call-to-action-sub__text {
    text-align: center;
  }
  .img-right {
    width: 100%;
    margin-left: 0;
  }
  .call-to-action-container .call-to-action-sub__container {
    width: 100%;
    grid-row-start: 2;
  }
  .call-to-action-container
    .call-to-action-sub__container
    .call-to-action-header {
    font-size: 7.2vw;
    height: auto;
    text-align: center;
  }
  .call-to-action-container
    .call-to-action-sub__container
    .call-to-action-sub__text {
    font-size: 4.5vw;
  }

  .auth-btn-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .auth-btn-container .auth-btn-container-1 {
    margin-bottom: 1.5rem;
    width: 100px;
  }
  .auth-btn-container .auth-btn-container-2 {
    margin: 0;
  }

  .site-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .site-info-1 {
    font-size: 7vw;
  }
  .site-info-1__subtext {
    font-size: 4vw;
  }

  .nav-auth {
    display: none;
  }
  .second-box,
  .third-box {
    margin: 0;
  }

  /** what we do section **/
  .what-we-do__header {
    padding: 7rem 20px;
  }
  .header-line {
    width: 50px;
  }
  .what-we-do-header-text,
  .category-header-text,
  .features-header-text,
  .faq-header-text,
  .newsletter-header-mobile {
    font-size: 6vw;
    text-align: center;
  }
  .what-we-do__content {
    grid-template-columns: 1fr;
  }

  /** Feature component **/
  .feature-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .feature-grid--img-1 {
    width: 300px;
    margin: 0 auto;
  }
  .feature-grid-header-text-1 {
    font-size: 7.5vw;
  }
  .feature-grid-sub-header-text-1 {
    font-size: 4vw;
  }

  .feature-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  /** faq componet **/
  .faq-container__mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-main-container-mobile {
    padding-top: 4rem;
  }
  .faq-question {
    font-size: 4vw;
    margin-right: 1rem;
  }

  /** Newsletter **/
  .newsletter-mobile {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
  .newsletter-img-mobile {
    display: none;
  }
  .newsletter-inputs-mobile {
    position: unset;
  }
  .newsletter-form-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .newsletter-form-input-mobile,
  .newsletter-form-btn-mobile {
    width: 100%;
    border-radius: 10px;
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card {
    flex: 0 0 auto;
  }

  .scroll-arrow__dashboard {
    font-size: 30px;
    color: #535353;
    margin: 0 auto;
    position: absolute;
    right: -1rem;
  }
  .scroll-arrow {
    font-size: 30px;
    color: #535353;
    margin: 0 auto;
  }
  .ux {
    display: block;
    padding: 0 20px;
  }

  /** footer **/
  .social {
    font-size: 25px;
  }
  .developer {
    font-size: 20px;
  }

  .large-set-of-question {
    grid-row-start: 2;
  }

  /** user dashboard styling for mobile **/
  .navigation-dashboard {
    padding: 1rem 20px;
  }
  .dashboard-bg__mobile {
    display: block;
    min-height: 190vh;
  }
  .mobile-hamburger {
    display: block;
    font-size: 40px;
    margin-bottom: 1rem;
  }
  .logout-container__mobile {
    height: 100px;
  }

  /** side navbar on dashboard for mobile **/
  .left-nav__mobile {
    position: absolute;
    top: 12.5rem;
    z-index: 9999;
    min-height: auto;
    margin: 0;
    min-width: 100%;
    left: 0;
    right: 0;
  }

  .dashboard-container-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-top: 7rem;
  }
  .dashboard-submit-question-container,
  .dashboard-search-question-container,
  .dashboard-feedback-container {
    padding-top: 7rem;
  }
  .userName__mobile {
    font-size: 4vw;
  }
  .search-form__mobile {
    display: none;
  }
  .avatar__mobile {
    width: 30px;
    height: 30px;
  }
  .small-screen__searchBar {
    display: block;
  }
  .big-screen__searchBar {
    display: none;
  }
  .menu-icon {
    font-size: 25px;
  }

  /** search bar mobile **/
  .searchBox {
    position: absolute;
    background: #2f3640;
    height: auto;
    border-radius: 40px;
    padding: 10px;
  }

  .searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 3px;
  }

  .searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
  }

  .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 900px) {
  .call-to-action-container {
    padding: 0 100px;
    height: auto;
    margin-top: 2rem;
  }
  .call-to-action-container .call-to-action-sub__container {
    width: 100%;
  }
  .call-to-action-container
    .call-to-action-sub__container
    .call-to-action-header {
    font-size: 40px;
  }
  .call-to-action-container
    .call-to-action-sub__container
    .call-to-action-sub__text {
    font-size: 20px;
  }
  .auth-btn-container .auth-btn-container-1 {
    margin-bottom: 1.5rem;
    width: 100px;
  }

  .site-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .site-info-1 {
    font-size: 30px;
  }
  .site-info-1__subtext {
    font-size: 18px;
  }

  .nav-auth {
    display: none;
  }
  .img-right {
    display: none;
  }
  .second-box,
  .third-box {
    margin: 0;
  }

  /** what we do section **/
  .what-we-do__header {
    padding: 7rem 100px;
  }
  .header-line {
    width: 100px;
  }
  .what-we-do-header-text,
  .category-header-text,
  .features-header-text,
  .faq-header-text,
  .newsletter-header-mobile {
    font-size: 30px;
    text-align: center;
  }
  .what-we-do__content {
    grid-template-columns: 1fr;
  }

  /** Feature component **/
  .feature-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .feature-grid--img-1 {
    width: 300px;
    margin: 0 auto;
  }
  .feature-grid-header-text-1 {
    font-size: 30px;
  }
  .feature-grid-sub-header-text-1 {
    font-size: 18px;
  }

  .feature-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  /** faq componet **/
  .faq-container__mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
  .faq-main-container-mobile {
    padding-top: 4rem;
  }
  .faq-question {
    font-size: 20px;
    margin-right: 1rem;
  }

  /** Newsletter **/
  .newsletter-mobile {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 100px;
  }
  .newsletter-img-mobile {
    display: none;
  }
  .newsletter-inputs-mobile {
    position: unset;
  }
  .newsletter-form-mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .newsletter-form-input-mobile,
  .newsletter-form-btn-mobile {
    width: 100%;
    border-radius: 10px;
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card {
    flex: 0 0 auto;
  }

  .scroll-arrow {
    font-size: 30px;
    color: #535353;
    margin: 0 auto;
  }
  .ux {
    display: block;
    padding: 0 20px;
  }

  /** footer **/
  .social {
    font-size: 25px;
  }
  .developer {
    font-size: 20px;
  }
  .large-set-of-question {
    grid-row-start: 2;
  }
  .search-form__mobile {
    display: none;
  }
  .avatar__mobile {
    width: 40px;
    height: 40px;
  }
  .small-screen__searchBar {
    display: block;
  }
  .big-screen__searchBar {
    display: none;
  }
  .menu-icon {
    font-size: 25px;
  }
  .dashboard-bg__mobile {
    display: block;
  }
  /** side navbar on dashboard for mobile **/
  .left-nav__mobile {
    position: absolute;
    top: 11rem;
    right: 2rem;
    z-index: 9999;
    min-height: auto;
    margin: 0;
    min-width: 200px;
  }
  .dashboard-bg__mobile {
    display: block;
    min-height: 100vh;
  }
  .mobile-hamburger {
    display: block;
    font-size: 40px;
    margin-bottom: 1rem;
  }
  .logout-container__mobile {
    height: 100px;
  }

  /** search bar mobile **/
  .searchBox {
    position: absolute;
    left: 3rem;
    background: #2f3640;
    height: auto;
    border-radius: 40px;
    padding: 10px;
  }

  .searchBox:hover > .searchInput {
    width: 350px;
    padding: 0 3px;
  }

  .searchBox:hover > .searchButton {
    background: white;
    color: #2f3640;
  }

  .searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

  .searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }

  /** dashboard **/
  .dashboard-submit-question-container,
  .dashboard-search-question-container,
  .dashboard-feedback-container,
  .dashboard-container-home {
    padding-top: 7rem;
  }
}
